.content-container {
  display: flex;
  gap: 1rem;
  padding: 0;
  min-height: 100vh;
  background: #fafbfc;
}

.content-col {
  flex: 1 1 0;
  padding: 2.2rem 1.2rem 1.2rem 1.2rem;
  background: #fff;
  min-width: 340px;
  max-width: 420px;
  box-sizing: border-box;
}

.content-col:not(:last-child) {
  border-right: 1.5px solid #e6e6e6;
}

// .content-main {
//   // flex: 2 1 0;
//   padding: 2.2rem 2.2rem 1.2rem 2.2rem;
//   background: #fafbfc;
//   min-width: 400px;
// }