<div class="builder-left" *ngIf="!isEditing" (click)="toggleEdit()">
  <h2>Thông tin CV</h2>
  <div class="cv-display">
    <div class="content-form">
      <p>
        <strong>{{ cvDetails.fullName }}</strong>
      </p>
      <p><mat-icon>email</mat-icon> {{ cvDetails.email }}</p>
      <p><mat-icon>phone</mat-icon> {{ cvDetails.phone }}</p>
      <p><mat-icon>location_on</mat-icon> {{ cvDetails.location }}</p>
    </div>
    <button mat-icon-button color="accent">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<div class="builder-left" *ngIf="isEditing">
  <h2>Thông tin CV</h2>
  <form class="content-form" (ngSubmit)="updateCV()">
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Full name</mat-label>
      <input
        matInput
        type="text"
        id="fullName"
        [(ngModel)]="formData.fullName"
        name="fullName"
        placeholder="Enter full name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Professional title</mat-label>
      <input
        matInput
        type="text"
        id="title"
        [(ngModel)]="formData.professionalTitle"
        name="professionalTitle"
        placeholder="Target position or current role"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        [(ngModel)]="formData.email"
        name="email"
        placeholder="Enter email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Phone</mat-label>
      <input
        matInput
        type="tel"
        id="phone"
        [(ngModel)]="formData.phone"
        name="phone"
        placeholder="Enter phone"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Location</mat-label>
      <input
        matInput
        type="text"
        id="location"
        [(ngModel)]="formData.location"
        name="location"
        placeholder="City, Country"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="btn-submit">
      Done
    </button>
    <button mat-button color="warn" (click)="toggleEdit()">Back</button>
  </form>
</div>
