<div class="container">
  <mat-toolbar class="container" color="primary" class="navbar">
    <div class="navbar-left">
      <button
        mat-stroked-button
        class="nav-item"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <mat-icon>apps</mat-icon>
        về Dashboard
      </button>
      @if (id) {
      <button
        mat-button
        class="nav-item"
        [routerLink]="['/builder', id, 'content']"
        routerLinkActive="active"
      >
        <mat-icon>description</mat-icon>
        Nội dung
      </button>
      <!-- <button
        mat-button
        class="nav-item"
        [routerLink]="['/builder', id, 'customize']"
        routerLinkActive="active"
      >
        <mat-icon>edit</mat-icon>
        Chỉnh sửa
      </button> -->
      }
    </div>
    <div class="navbar-right">
      <button mat-flat-button color="accent" class="nav-item" (click)="copyLinkToShareCv()">
        <mat-icon>open_in_new</mat-icon>
        Chia sẻ
      </button>
      <button mat-raised-button color="accent" class="nav-item" (click)="exportCv()">
        <mat-icon>download</mat-icon>
        Tải xuống CV
      </button>
    </div>
  </mat-toolbar>
</div>
