.builder-container {
  display: flex;
  // padding: 1rem;
  gap: 1rem;
  margin: 0 1vh;
  flex: 2 8;
}

.builder-left {
  flex: 2;
  max-width: 33%;
}

.builder-right {
  flex: 6;
  max-width: 80%;
  // min-height: 100rem;
  overflow: auto;
  img {
    width: 100%;
  }
}
