<div class="container">
  <app-navbar></app-navbar>
  <div class="builder-container">
    <!-- design -->
    <div class="builder-left">
      <router-outlet />
    </div>
    <!-- preview -->
    <div class="builder-right">
      <!-- use iframe to preview the cv -->
      @if(generatedCv$ | async) {
        <iframe 
        [srcdoc]="safeHtml" 
        class="cv-preview-iframe"
        frameborder="0">
      </iframe>
      } @else {
        <h2>Loading...</h2>
      }
    </div>
  </div>
</div>
