// // // education-form.component.scss
.cv-section-panel {
  margin-bottom: 16px;
  border-radius: var(--mat-sys-corner-medium) !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08) !important;
  background-color: #ffffff !important;

  .title-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--mat-sys-on-surface);
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 16px !important;
  }

  ::ng-deep .mat-expansion-panel-header {
    padding: 0 16px !important;

    .mat-expansion-indicator {
      color: var(--mat-sys-on-surface-variant);
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      color: var(--mat-sys-on-surface);
    }
  }

  .section-header {
    background: var(--mat-sys-on-primary);
    padding: 2rem !important;
    transition: all 0.3s ease;

    .panel-description {
      .edit-heading-btn {
        color: var(--mat-sys-on-surface-variant);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          background-color: #f8f9fa !important;
          // color: var(--mat-sys-primary);
          transform: translateY(-1px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
        }

        &:active {
          transform: translateY(0);
          transition: all 0.1s ease;
        }
      }
    }
  }

  .button-edit {
    display: flex;
    justify-content: center;
  }
}
