<div class="container">
  <mat-toolbar class="container" color="primary" class="navbar">
    <div class="navbar-left">
      <div class="header">
        <div class="logo">
          <img src="Icon.png" alt="Rzomie Logo" />
        </div>
        <div class="brand-info">
          <div class="brand-title">Rzomie</div>
          <div class="brand-subtitle">Easy Resume Builder</div>
        </div>
      </div>
    </div>

    @if ( currentUser$ | async; as user){
    <div class="navbar-right">
      <div class="user-profile-section" [matMenuTriggerFor]="menu">
        <img
          [src]="user.photoURL"
          class="user-avatar"
          referrerpolicy="no-referrer"
        />
        <div class="user-info">
          <div class="user-name">{{ user.name }}</div>
          <div class="user-email">{{ user.email }}</div>
        </div>
        <mat-icon class="dropdown-arrow">keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #menu="matMenu" class="user-dropdown-menu">
        <!-- Language Section -->
        <!-- <button mat-menu-item>
          <mat-icon>language</mat-icon>
          <span>English</span>
        </button>

        <button mat-menu-item>
          <mat-icon class="active-icon">language</mat-icon>
          <span>Tiếng Việt</span>
        </button>
        <mat-divider></mat-divider> -->

        <!-- Logout -->
        <button mat-menu-item class="logout-menu-item" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Đăng xuất</span>
        </button>
      </mat-menu>
    </div>
    }
  </mat-toolbar>
</div>
