<mat-expansion-panel class="cv-section-panel">
  <mat-expansion-panel-header class="section-header">
    <mat-panel-title class="panel-title">
      <div class="title-content">
        <mat-icon class="section-icon">contacts</mat-icon>
        <span class="section-name">Người tham chiếu</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!-- Panel Content -->
  <div class="panel-content">
    <div class="reference-forms-container">
      <!-- Reference Forms List -->
      <div class="forms-list">
        <app-reference-form-edit
          *ngFor="let reference of referenceForms; let i = index"
          [referenceData]="reference"
          [isReadOnly]="false"
          [forceCollapse]="
            currentEditingIndex !== null && currentEditingIndex !== i
          "
          (formChange)="updateForm(i, $event)"
          (deleteForm)="deleteForm(i)"
          (requestEdit)="onFormExpanded(i)"
          (editToggle)="$event ? onFormExpanded(i) : onFormCollapsed(i)"
          class="form-item"
        ></app-reference-form-edit>
      </div>
      <div class="button-edit">
        <button
          mat-flat-button
          color="primary"
          (click)="addForm()"
          class="add-form-btn"
          matTooltip="Thêm người tham chiếu mới"
        >
          <mat-icon>add</mat-icon>
          Thêm người tham chiếu
        </button>
      </div>
    </div>
  </div>
</mat-expansion-panel>
